* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
  }
  
  
  body {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* background-color: pink; */
    width: 100%;
  }
  
  
  .header {
    width: 100%;
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../public/assets/home/mobile/image-header.jpg);
  }
  
  
  
  /* .pictures-3 {
    display: grid;
    grid-template-columns: 415px, 695px;
    row-gap: 14px;
  } */
  
  /* .third {
    grid-row: span 2;
  } */
  
  
  @media screen and (width > 768px) {
    .header {
      background-image: url(../public/assets/home/tablet/image-header.jpg);
      min-height: 729px;
    }
  
    .HomeArticle {
      background-image: url(../public/assets/medium.png);
      /* background-image: url(../public/assets/small.png); */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  
    }
  }
  
  
  
  @media screen and (width > 1110px) {
    .header {
      background-image: url(../public/assets/home/desktop/image-hero.jpg);
    }
  
  
  }